amqp==5.1.1
asgiref==3.6.0
asttokens==2.2.1
backcall==0.2.0
billiard==3.6.4.0
bleach==5.0.1
celery==5.2.2
certifi==2020.12.5
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
decorator==5.1.1
dj-database-url==1.2.0
Django==3.2.8
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-summernote==0.8.20.0
easy-thumbnails==2.8.5
executing==1.2.0
gunicorn==20.1.0
importlib-metadata==0.20
ipython==8.8.0
jedi==0.18.2
kombu==5.2.4
matplotlib-inline==0.1.6
mccabe==0.6.1
mysqlclient==2.1.1
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.36
psycopg2==2.9.5
pure-eval==0.2.2
pygame==2.1.3.dev8
Pygments==2.14.0
python-decouple==3.1
pytz==2019.1
PyYAML==6.0
six==1.15.0
sqlparse==0.3.0
stack-data==0.6.2
toml==0.10.1
traitlets==5.8.1
tzdata==2022.7
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.3.0
wrapt==1.12.1
zipp==3.11.0
